<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>You have requested a password reset for your Contacts App account. Click the link below to reset your password:</p>
    <p><a href="{{ link }}">Reset Password</a></p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>This link will expire in [some time, e.g., 15 minutes].</p>
    <p>Best regards,<br>Contacts App Team</p>
</body>
</html>